<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamMultiview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamMultiview.Properties.Settings>
            <setting name="url1" serializeAs="String">
                <value />
            </setting>
            <setting name="url2" serializeAs="String">
                <value />
            </setting>
            <setting name="url3" serializeAs="String">
                <value />
            </setting>
            <setting name="url4" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TopHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="RightWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="BottomHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
        </StreamMultiview.Properties.Settings>
    </userSettings>
</configuration>